/* =====================================
   GERAL
===================================== */





/* =====================================
   TELA INICIAL
===================================== */





/* =====================================
   LOGIN
===================================== */
.btn-login {
  width: 100%;
  background: #2563eb;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
}
.btn-login {
  background: #2563eb;
  color:white;
}




/* =====================================
   CLIENTE
===================================== */





/* =====================================
   PROFISSIONAL
===================================== */





/* =====================================
   ADMIN
===================================== */





/* =====================================
   CALENDÁRIO
===================================== */





/* =====================================
   RESPONSIVIDADE
===================================== */